<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/rsvp/rsvp.js"></script>
    <script src="lib/lodash/dist/lodash.js"></script>
    <script src="lib/kefir/dist/kefir.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/geofire/3.0.3/geofire.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="geo-notes" ng-controller="GeoNotesController">

    <ion-pane>

      <ion-header-bar class="bar-positive">
        <h1 class="title"><i class="icon ion-help-buoy"></i> Buoy</h1>
        <!-- New Note button-->
        <button class="button button-icon" on-tap="showNewNoteForm()">
          <i class="icon ion-compose"></i>
        </button>
      </ion-header-bar>

      <ion-content>
        <ion-list class="notes" can-swipe="canSwipe" show-delete="showDelete">
          <ion-item class="item {{note.type}}" ng-repeat="note in notes" on-tap="upvote(note, true)">
            <div class="row">
              <div class="col">
                <p><i class="icon ion-location"></i> {{note.distanceAway}} miles</p>
              </div>
              <div class="col text-right">
                <p class="note-type"> {{note.type}}</p>
              </div>
            </div>
            <div class="row">
              <div class="note-text">{{note.text}}</div>
            </div>
            <div class="row">
              <div class="col">
                <button ng-class="{ active: note.voteStatus == -1 }" class="button button-outline button-assertive icon ion-minus" on-tap="downvote(note)"></button>
              </div>
              <div class="col text-center">
                <p class="score">{{note.hearts}}</p>
              </div>
              <div class="col text-right">
                <button ng-class="{ active: note.voteStatus == 1 }" class="button button-outline button-balanced icon ion-plus" on-tap="upvote(note)"></button>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-pane>

    <script id="new-note.html" type="text/ng-template">

      <div class="modal">

        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
          <button class="button icon-left ion-chevron-left button-clear button-dark" on-tap="closeNewNote()"> Cancel</button>
          <h1 class="title">New Note</h1>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>

          <form ng-submit="createNote(newNote)">
            <div class="list">
              <div class="item">
                <h3>What best describes this note?</h3>
                <div class="button-bar">
                  <a class="button" on-tap="selectType(newNote, 'note')" ng-class="{ button: true, active: newNote.type == 'note' }">Just a note</a>
                  <a class="button" on-tap="selectType(newNote, 'tip')" ng-class="{ button: true, active: newNote.type == 'tip' }">A tip</a>
                  <a class="button" on-tap="selectType(newNote, 'activity')" ng-class="{ button: true, active: newNote.type == 'activity' }">An activity</a>
                </div>
              </div>
              <div class="item">
                <h3>What do you have to say?</h3>
                <label class="item-input">
                  <textarea rows="10" placeholder="Write here..." ng-model="newNote.text"></textarea>
                </label>
              </div>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Create Note</button>
            </div>
          </form>

        </ion-content>

      </div>

    </script>
  </body>
</html>
